<div>
    <div class="row">
        <div class="caption">
            <span>Danh sách {{Title}}</span>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead style="white-space: nowrap">
            <tr>
                <th>STT</th>
                <th>id</th>
                <th>value</th>
                <th>time</th>
                <th>nodeId</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td>
                    <input class="form-control" [(ngModel)]="SearchNodeValueEntity.id" type="number"
                           placeholder="Search..." (keydown.enter)="Search()">
                </td>
                <td>
                    <input class="form-control" [(ngModel)]="SearchNodeValueEntity.value" type="text"
                           placeholder="Search..." (keydown.enter)="Search()">
                </td>
                <td>
                    <input class="form-control" [(ngModel)]="SearchNodeValueEntity.time" type="text"
                           placeholder="Search..." (keydown.enter)="Search()">
                </td>
                <td>
                    <input class="form-control" [(ngModel)]="SearchNodeValueEntity.nodeId" type="text"
                           placeholder="Search..." (keydown.enter)="Search()">
                </td>
                <td style="text-align: center">
                    <app-modal>
                        <OpenDiv>
                            <button type="button" class="btn btn-success btn-circle">
                                <i class="fa fa-plus fa-1x" aria-hidden="true">
                                </i>
                            </button>
                        </OpenDiv>
                        <modal-header>
                            <h5 class="modal-title" id="add_modal">
                                <i class="fa fa-dropbox" aria-hidden="true"></i>
                                Thêm {{ Title }}
                            </h5>
                        </modal-header>
                        <modal-body>
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2" style="padding-bottom: 10px;">
                                    <label class="control-label">id:</label>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4" style="padding-bottom: 10px;">
                                    <input type="text" class="form-control" placeholder="Nhập id"
                                           name="idCreate" [(ngModel)]="CreatedNodeValueEntity.id"
                                           required/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2" style="padding-bottom: 10px;">
                                    <label class="control-label">value:</label>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4" style="padding-bottom: 10px;">
                                    <input type="text" class="form-control" placeholder="Nhập value"
                                           name="valueCreate" [(ngModel)]="CreatedNodeValueEntity.value"
                                           required/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2" style="padding-bottom: 10px;">
                                    <label class="control-label">time:</label>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4" style="padding-bottom: 10px;">
                                    <input type="text" class="form-control" placeholder="Nhập time"
                                           name="timeCreate" [(ngModel)]="CreatedNodeValueEntity.time"
                                           required/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2" style="padding-bottom: 10px;">
                                    <label class="control-label">nodeId:</label>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4" style="padding-bottom: 10px;">
                                    <input type="text" class="form-control" placeholder="Nhập nodeId"
                                           name="nodeIdCreate" [(ngModel)]="CreatedNodeValueEntity.nodeId"
                                           required/>
                                </div>
                            </div>
                        </modal-body>
                        <modal-footer>
                            <button data-dismiss="modal" data-backdrop="false" (click)="Add()"
                                    class="btn btn-success">
                                <i class="fa fa-check" aria-hidden="true"></i> Lưu
                            </button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">
                                <span><i class="fa fa-times" aria-hidden="true"></i> Hủy</span>
                            </button>
                        </modal-footer>
                    </app-modal>
                    <button type="button" class="btn btn-success btn-circle"><i class="fa fa-download fa-1x"
                                                                                aria-hidden="true"></i></button>
                </td>
            </tr>
            <tr *ngFor="let NodeValue of (NodeValueEntities ? NodeValueEntities : []); let i = index">
                <td>{{PagingModel.Take * PagingModel.Active + i + 1}}</td>
                <td>{{NodeValue?.id}}</td>
                <td>{{NodeValue?.value}}</td>
                <td>{{NodeValue?.time}}</td>
                <td>{{NodeValue?.nodeId}}</td>
                <td style="text-align: center">
                    <button type="button" class="btn btn-primary btn-circle"
                            (click)="LoadDataToUpdateModal(NodeValue,i)">
                        <i class="fa fa-edit fa-1x" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-danger btn-circle delete"
                            mwlConfirmationPopover [title]="'Bạn có muốn ?' + Trick"
                            [confirmText]="'Xác nhận'"
                            [cancelText]="'Hủy'"
                            [appendToBody]="true"
                            cancelButtonType="danger"
                            [message]="'Bạn có chắc chắn xóa trường này?'"
                            placement="left" (confirm)="LoadDataToDelete(NodeValue);Delete()">
                        <i class="fa fa-trash fa-1x"
                           aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<app-paging [PagingModel]="PagingModel" [dot]="true" (onChanges)="Search()"></app-paging>
<app-modal [OpenModalId]="EditModalComponent.ID">
    <modal-header>
        <h5 class="modal-title">
            <i class="fa fa-dropbox" aria-hidden="true"></i>
            Sửa {{ Title }}
        </h5>
    </modal-header>
    <modal-body>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2" style="padding-bottom: 10px;">
                <label class="control-label">id:</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4" style="padding-bottom: 10px;">
                <input type="text" class="form-control" placeholder="Nhập id"
                       name="idEdit" [(ngModel)]="EditedNodeValueEntity.id"
                       required/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2" style="padding-bottom: 10px;">
                <label class="control-label">value:</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4" style="padding-bottom: 10px;">
                <input type="text" class="form-control" placeholder="Nhập value"
                       name="valueEdit" [(ngModel)]="EditedNodeValueEntity.value"
                       required/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2" style="padding-bottom: 10px;">
                <label class="control-label">time:</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4" style="padding-bottom: 10px;">
                <input type="text" class="form-control" placeholder="Nhập time"
                       name="timeEdit" [(ngModel)]="EditedNodeValueEntity.time"
                       required/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2" style="padding-bottom: 10px;">
                <label class="control-label">nodeId:</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4" style="padding-bottom: 10px;">
                <input type="text" class="form-control" placeholder="Nhập nodeId"
                       name="nodeIdEdit" [(ngModel)]="EditedNodeValueEntity.nodeId"
                       required/>
            </div>
        </div>
    </modal-body>
    <modal-footer>
        <button data-dismiss="modal" data-backdrop="false" (click)="Edit()"
                class="btn btn-success">
            <i class="fa fa-check" aria-hidden="true"></i> Sửa
        </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">
            <span><i class="fa fa-times" aria-hidden="true"></i> Hủy</span>
        </button>
    </modal-footer>
</app-modal>